/************************************************

-DEFAULT
-LAYOUT
-LOGIN
-PORTFOLIO

*************************************************/

/****************************
********* DEFAULT ***********
****************************/

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorBlue: rgb(47, 78, 255);
}

/****************************
********* LAYOUT ************
****************************/

/* NAVBAR */

.underscore:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

@media (max-width: 991.98px) { 
    .navbar-nav {
        flex-direction: column;
        align-items: flex-end;
    }
}

.span-welcome {
    font-size: .8em;
    white-space: nowrap;
    display: inline-block; 
}

html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1; 
}

/* FOOTER */

footer {
    text-align: center;
    height: 70px;
    background-color: #f8f9fa;
    margin-top: auto;
}

footer p {
    padding-left: 20px;
    font-weight: bold;
    font-size: .8em;
}

footer a {
    text-decoration: none;
    color: black;
}

footer hr {
    margin-top: 0;
    padding-top: 0;
    border: 1px solid black;
}

/****************************
********* LOGIN *************
****************************/

.container-login {
    margin-top: 150px;
}

.input-login {
    border: 1px solid rgb(105, 105, 105);
    border-style: dotted;
}

.forgot-password {
    text-decoration: none;
    font-size: .9em;
    visibility: hidden;
}

.invalid-login {
    font-size: .8em;
    margin-left: auto;
    padding-left: 10px;
}

/****************************
********* PORTFOLIO *********
****************************/

/* CAROUSEL */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    color: #ff0000; 
    font-size: 2rem; 
}

.carousel-control-prev {
    filter: invert(1); 
    left: -10%;
}

.carousel-control-next {
    filter: invert(1); 
    right: -10%;
}

.carousel-item img {
    width: 100%;
    height: 90vh;
    object-fit: cover; 
}

/* DATAS */

.link-github {
    text-decoration: none;
    color: black;
}

.link-github:hover {
    color: var(--colorBlue);
}

.container-info {
    margin-top: 70px;
}

/* IMAGES */

.container-img {
    background-color: lightgray;
}

.container-images {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 576px) {
    .container-info,
    .container-images {
        text-align: center;
    }

    .container-images .row {
        justify-content: center;
    }

    .container-images .col-12 {
        max-width: 100%;
    }
}

.border-img {
    border: 1px solid #003f5c;
    border-radius: 10px;
}
