/************************************************
#SUMARY: 
-DEFAULT
-LAYOUT
--- NAVBAR
--- FOOTER
-LOGIN
-PORTFOLIO
--- CAROUSEL
--- DATAS
--- IMAGES
---MODAL IMG
-TIMELINE
-TIMELINEADM
-ABOUT ME

*************************************************/

/****************************
********* DEFAULT ***********
****************************/

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorBlue: rgb(47, 78, 255);
}

.margin-right {
    text-align: right;
}

/****************************
********* LAYOUT ************
****************************/

/* NAVBAR */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding-right: 25px; 
    overflow: visible;
}

.navbar-nav {
    margin-right: 0; 
}

.underscore:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navbar-expand-lg .navbar-collapse {
    padding-right: 0;
}

.nav-item {
    margin-right: 10px; 
}

.nav-link {
    padding-right: 0; 
}

@media (max-width: 991.98px) { 
    .navbar-nav {
        flex-direction: column;
        align-items: flex-end;
        margin-right: 0;
    }
}

.span-welcome {
    font-size: .8em;
    white-space: nowrap;
    display: inline-block; 
}

html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1; 
}

/* FOOTER */

footer {
    text-align: center;
    height: 70px;
    background-color: #f8f9fa;
    margin-top: auto;
}

footer p {
    padding-left: 20px;
    font-weight: bold;
    font-size: .8em;
}

footer a {
    text-decoration: none;
    color: black;
}

footer hr {
    margin-top: 0;
    padding-top: 0;
    border: 1px solid black;
}

.icon-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

.icon-up.show {
    display: block;
}

/****************************
********* LOGIN *************
****************************/

.container-login {
    margin-top: 150px;
}

.input-login {
    border: 1px solid rgb(105, 105, 105);
    border-style: dotted;
}

.forgot-password {
    text-decoration: none;
    font-size: .9em;
    visibility: hidden;
}

.invalid-login {
    font-size: .8em;
    margin-left: auto;
    padding-left: 10px;
}

/****************************
********* PORTFOLIO *********
****************************/

/* CAROUSEL */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    color: #ff0000; 
    font-size: 2rem; 
}

.carousel-control-prev {
    filter: invert(1); 
    left: -10%;
}

.carousel-control-next {
    filter: invert(1); 
    right: -10%;
}

.carousel-item img {
    width: 100%;
    height: 90vh;
    object-fit: cover; 
}

#carouselExampleIndicators {
    max-width: 100%;
    margin: 0 auto; 
}


#carouselExampleIndicators .carousel-inner img {
    width: 100%; 
    height: auto;
    max-width: 100%;
}

/* DATAS */

.link-github {
    text-decoration: none;
    color: black;
}

.link-github:hover {
    color: var(--colorBlue);
}

.container-info {
    margin-top: 70px;
    padding: 0 10px;
}

.container-info p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%; 
}

/* IMAGES */

.container-img {
    background-color: lightgray;
}

.container-images {
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-desktop {
    padding-top: 20px;
}

.border-img {
    border: 1px solid #003f5c;
    border-radius: 10px;
}

.fixed-img {
    width: 250px;
    height: 250px;
}

@media (max-width: 1024px) {
    .container-images .row {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .container-images .col-12 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .fixed-img {
        width: 100%; 
        max-width: 250px; 
        height: auto; 
    }
}

@media (max-width: 991.98px) { 
    .margin-desktop {
        padding-top: 0px;
    }
}

@media (max-width: 767.98px) {
    .fixed-img {
        max-width: 250px;
        max-height: 250px;
        width: auto;
        height: auto;
    }
}

@media (max-width: 576px) {
    .container-info,
    .container-images {
        text-align: center;
    }

    .container-info {
        padding: 0 15px; 
    }

    .container-images .row {
        margin: 0;
    }

    .container-images .row {
        justify-content: center;
    }

    .container-images .col-12 {
        max-width: 100%;
        margin: 0 auto;
    }

    .fixed-img {
        max-width: 100%;
        max-height: 250px;
    }
}

/* MODAL IMG */

.modal-image {
    display: none; 
    position: fixed;
    z-index: 999; 
    padding-top: 10%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content-image {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%; 
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/****************************
********* TIMELINE **********
****************************/

.container-timeline {
    border: 1px solid lightgray;
    padding-top: 50px;
    border-radius: 10px;
}

.image-avatar {
    width: 150px;
    margin-left: 30px;
}

.bio-p {
    visibility: visible;
}

.container-bio {
    padding-left: 50px;
}

.container-bio > p {
    font-style: italic;
}

.container-bio > spam {
    font-size: .9em;
}

.nav-tab > button {
    color: black;
    padding: 20px;
}

.container-posts {
    margin-top: 100px;
}

.container-img-individual-post {
    text-align: center;
}

.img-individual-post {
    width: 90px;
}

.container-content-post {
    font-size: .9em;
}

@media (max-width: 1024px) {
    .image-avatar {
        width: 150px; 
    }

    .container-bio {
        text-align: center;
        margin-top: 20px;
    }

    .container-posts .row {
        flex-direction: row; 
    }

    .container-post-timeline div {
        text-align: center;
    }
 
}

@media (max-width: 750px) {
    .image-avatar {
        width: 150px; 
    }

    .container-bio {
        padding-left: 0; 
        text-align: center;
        margin-top: 20px;
    }

    .container-prev-bio, .container-posts > div {
        margin-left: 40px;
    }

    .container-posts .row {
        flex-direction: row; 
    }

    .container-post-timeline div {
        text-align: center;
    }
 
}

.button-post, .button-fix {
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.container-button-fix {
    text-align: center;
}

.button-fix {
    color: black;
}

/****************************
********* TIMELINEADM *******
****************************/

.logout-button {
    text-decoration: none;
    font-size: .9em;
    color: red;
}

.logout-button:hover {
    color: rgb(146, 1, 1);
}

.container-post-adm {
    margin-top: 80px;
}

.container-post-adm > div {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 30px;
}

.pinpost-span {
    font-size: .8em;
}

.data-post {
    font-size: .8em;
}

@media (max-width: 1024px) {
    .container-post-adm > div {
        padding: 0;
        border: 0;
    }

    .container-form > select, .container-form > textarea {
        width: 45vw;
    }

    .container-form > textarea {
        height: 150px;
    }
}

.header-container {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.menu-container {
    position: relative;
    display: inline-block;
    align-items: center; 
    margin-left: auto;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-options {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    z-index: 1;
}

.menu-options li {
    padding: 8px 12px;
}

.menu-options li a {
    text-decoration: none;
    color: black;
}

.menu-options li:hover {
    background-color: #ddd;
}

.menu-container.active .menu-options {
    display: block;
}


/****************************
********* ABOUT ME **********
****************************/

.container-img-avatar {
    margin-top: 75px;
    text-align: right;
    padding-right: 75px;
}

.img-avatar-aboutme {
    width: 200px;
}

.container-descr-avatar {
    margin-top: 75px;
    text-align: left;
}

.link-aboutme {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container-social-network {
    margin-top: 50px;
}

.img-social-network {
    width: 50px;
    margin-left: 50px;
}

@media (max-width: 1024px) {
    .img-social-network {
        margin-left: 0px;
    }
}