/************************************************

INDEX:


*************************************************/

@charset "UTF-8";

/****************************
********* INDEX *************
****************************/

.underscore:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

@media (max-width: 991.98px) { /* Ajusta para telas menores que 'lg' */
    .navbar-nav {
        flex-direction: column; /* Muda a direção dos itens para coluna */
        align-items: flex-end; /* Alinha os itens à direita */
    }
}